{% extends 'base.html' %}
{% block content %}
    {% for error in errors %}
        <p>Error: {{ error }}</p>
    {% endfor %}
    <form action="{{ url_for('admin') }}" method="post">
        High CPU Threshold = <input type="text" name="high" value="{{ pv.high_cpu_threshold }}"><br/>
        Low CPU Threshold = <input type="text" name="low" value="{{ pv.low_cpu_threshold }}"><br/>
        Scaling Multiplier = <input type="text" name="mult" value="{{ pv.scaling_multiplier }}"><br/>
        Scaling Divisor = <input type="text" name="div" value="{{ pv.scaling_divisor }}"><br/>
        All values will be rounded to integer<br/>
        <input type="submit" value="Update">
    </form>
{% endblock %}