{% extends 'base.html' %}
{% block content %}
    <ul>
        {% if session['username'] == Null %}
            <li><a href="{{url_for('start_sql')}}">Start sql server</a></li>
        {% else %}
            <div>
                <li><a href="{{url_for('start')}}">Start user app server</a></li>
                <li><a href="{{url_for('stop')}}">Clean up</a></li>
                <br>
                <li><a href="{{url_for('admin')}}">Adjust worker pools</a></li>
                <li><a href="{{url_for('admin')}}">Delete all data</a></li>
            </div>
        {% endif %}
    </ul>
{% endblock %}