{% extends 'base.html' %}
{% block content %}
    <ul>
        {% if session['username'] == Null %}
            <li><a href="{{url_for('start_sql')}}">Start sql server</a></li>
        {% else %}
            <div>
                <li><a href="{{url_for('worker_list')}}">List workers</a></li>
                <li><a href="{{url_for('admin')}}">Configure auto-scaling policy</a></li>
                <li><a href="{{url_for('delete_data')}}">Delete all data</a></li>
            </div>
        {% endif %}
    </ul>
{% endblock %}