{% extends 'base.html' %}
{% block content %}

    <form action="{{ url_for('grow_pool_button') }}"
          method="post">
          <input type="submit" value="Grow Worker Pool">
    </form>
    <form action="{{ url_for('shrink_pool_button') }}"
          method="post">
          <input type="submit" value="Shrink Worker Pool">
    </form>

    <table>
    <thead>
        <th>ID</th>
        <th>Health</th>
        <th>CPU Utilization</th>
    </thead>
    {% for instance, instance_health, instance_cpu_utilization in instances %}
        <tr>
            <td>{{ instance.id }}</td>

            <td>{{ instance_health }}</td>
            <td>{{ instance_cpu_utilization }}</td>
            <td>
                <form action="{{ url_for('ec2_view', id=instance.id)}}"
                      method="get">
                    <input type="submit" value="Details">
                </form>
            </td>

             <td>
                <form action="{{ url_for('ec2_start', id=instance.id) }}"
                      method="post"
                      onsubmit='return confirm("Start instance {{ instance.id }}?")'>
                    <input type="submit" value="Start">
                </form>
            </td>

            <td>
                <form action="{{ url_for('ec2_stop', id=instance.id) }}"
                      method="post"
                      onsubmit='return confirm("Stop instance {{ instance.id }}?")'>
                    <input type="submit" value="Stop">
                </form>
            </td>

            <td>
                <form action="{{ url_for('ec2_destroy', id=instance.id) }}"
                      method="post"
                      onsubmit='return confirm("Destroy instance {{ instance.id }}?")'>
                    <input type="submit" value="Destroy">
                </form>
            </td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}