{% extends 'base.html' %}
{% block content %}
    <ul>
        {% if session['username'] == Null %}
            <div><a href="{{url_for('login')}}">login</a></div>
            <div><a href="{{url_for('register')}}">register</a></div>
        {% else %}
            <div>{{ session['username'] }} is logged in</div>
            <a href="{{url_for('logout')}}">Logout</a>
        {% endif %}
    </ul>

    <div>
        <li><a href="{{url_for('upload_form')}}">File Upload</a></li>
        <li><a href="{{url_for('image_form')}}">Image Transform</a></li>
    </div>
{% endblock %}